<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div formGroupName="homeRegistAddr">
    <h3>戶籍地址</h3>

    <label>
      Street:
      <span
        *ngIf="profileForm.controls.homeRegistAddr.errors"
        style="color: red"
      >
        123
      </span>
      <input type="text" formControlName="street" required />
    </label>

    <label>
      City:
      <input type="text" formControlName="city" />
    </label>

    <label>
      State:
      <input type="text" formControlName="state" />
    </label>
  </div>

  <div formGroupName="homeAddr">
    <h3>現居地址</h3>
    <label
      ><input
        type="checkbox"
        formControlName="sameHomeRegistAddr"
      />同戶籍地址</label
    ><br />

    <label>
      Street:
      <input
        type="text"
        formControlName="street"
        [readonly]="
          profileForm.get(['homeAddr', 'sameHomeRegistAddr'])?.value === true
        "
      />
    </label>

    <label>
      City:
      <input
        type="text"
        formControlName="city"
        [readonly]="
          profileForm.get(['homeAddr', 'sameHomeRegistAddr'])?.value === true
        "
      />
    </label>

    <label>
      State:
      <input
        type="text"
        formControlName="state"
        [readonly]="
          profileForm.get(['homeAddr', 'sameHomeRegistAddr'])?.value === true
        "
      />
    </label>
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<!-- <hr />
<p>Form Valus: {{ profileForm.value | json }}</p>
<p>Form Status: {{ profileForm.status }}</p> -->
